<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Naty Campos Nutri</title>
  <link href="/_css/main.min.css" rel="stylesheet">
  <link href="/_css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <!-- main image & intro text -->
  <div style="background-image: url(./_img/background.png); background-size: cover; margin-bottom: -5%;">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="nav-link" id="prato" href="#" style="padding-left: 15%; color: #590219"><strong>Natália Campos</strong></a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 10%;">
            <li class="nav-item px-4">
              <a class="nav-link" href="#inicio">Hub</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="#feedbacks">Feedbacks</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="#roteiroMudanca">Roteiro</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="#sobre">Sobre</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="#vantagens">Beneficios</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="#plano">Planos</a>
            </li>
          </ul>
          <span class="navbar-text pe-2">
            <a class="nav-link" id="whatsapp-link" href="https://wa.me/<%= whatsappNumber %>"><img src="./_img/whatsapp.png" alt="" style="height: 32px"></a></span>
          <span class="navbar-text" style="padding-right: 10%;">  
            <a class="nav-link" href="https://www.instagram.com/natycamposnutri?igsh=OXlkY2xmMDNnMGsx"><img src="./_img/insta.png" alt="" style="height: 32px"></a>
          </span>
        </div>
      </div>
    </nav>  
    <div class="vertical-line"></div> 
    <div class="vertical-line-right" id="prato"></div>
    <div class="row">
      <section id="inicio" class="col-md-6 order-3 order-lg-1" >
        <div >
          <div class="row align-items-start" id="primeiraSecao">
            <div class="col-md-12 alinhamentoBasico">
              <h1 class="mt-5 PrimeiraFonte fonteGigante" id="tituloConstrua1" style="color: #590219"> Construa <span style="color:#DABE85;">a sua</span><br>
                melhor versão<br></h1>
              <h1 class="PrimeiraFonte fonteGigante" id="tituloConstrua" style="color: #590219;">Construa <span style="color:#DABE85;"> a sua</span> melhor versão<br></h1>
              <p class="pb-5 fonteTexto" style="color: #590219"><br>Acompanhamento nutricional personalizado para alcançar seus objetivos. Com suporte personalizado, realizar seus sonhos é mais fácil do que nunca.</p>
              <div class="pb-5 dynamic-padding">
                <a id="whatsapp-link" href="https://wa.me/<%= whatsappNumber %>">
                <button class="button-5" role="button">Agendar consulta<img src="./_img/whatsbranco.png" alt="" style="height: 23px; padding-left: 10px;"></button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="col-md-6 order-1 order-lg-2 d-flex justify-content-center align-items-center" >
        <div class="pt-3">
          <button class="blur-button" style="bottom: 20%; left: 55%;"></button>
          <img src="./_img/nataliacampos (1).png" id="fotoNatalia" alt="foto">
          <button class="blur-button" style="top: 35%; right: 5%;"></button>
        </div>
      </section>
      <hr class="responsive-line order-2">
      <section class="container order-2 order-lg-2 text-center linhaVantagens">
        <div class="row">
          <!-- Botão 1 -->
          <div class="col-md col-6 pb-2">
            <button class="button-6" role="button" style="color: #6B5C3E">
              <img src="./_img/Vector.png" alt="" id="figurinhasBotao">
              Reeducação <br> alimentar
            </button>
          </div>
          <!-- Botão 2 -->
          <div class="col-md col-6 pb-2">
            <button class="button-6" role="button" style="color: #6B5C3E">
              <img src="./_img/Vector (1).png" alt="" id="figurinhasBotao">
              Hipertrofia
            </button>
          </div>
          <!-- Botão 3 -->
          <div class="col-md col-6">
            <button class="button-6" role="button" style="color: #6B5C3E">
              <img src="./_img/Balnça.png" alt="" id="figurinhasBotao">
              Emagrecimento
            </button>
          </div>
          <!-- Botão 4 -->
          <div class="col-md col-6">
            <button class="button-6" role="button" style="color: #6B5C3E">
              <img src="./_img/Vector (2).png" alt="" id="figurinhasBotao">
              Nutrição <br> estratégica
            </button>
          </div>
        </div>
      </section>   
    </div>
         
    
  </div>
  <section style="background-color:#FFEEEE;" id="feedbacks">    
    <div class="" >
      <div class="row ">
        <div class="col-md-3"></div>
        <div class="text-center col-lg-6">
          <p class="mt-5 PrimeiraFonte fonteGigante" style="color: #590219;">Feed<span style="color: #DABE85">backs</span></p>
          <p class="fonteTexto" style="color: #590219;">Transforme sua vida como nossos pacientes! Descubra histórias reais de sucesso com nossa metodologia.</p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div id="myCarrousel" class="carousel-inner" style="color: #590219;">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row alinhamentoCarrossel">
              <div class="col-md ">
                <img src="./_img/feedback1.png" class="imgCarrossel d-block mw-100" style="margin-left: 5%; border-radius: 0.5cm" alt="...">
              </div>
              <div class="col-md">
                <div class="">
                  <p>O paciente buscou Acompanhamento como o objetivo de mudar seus hábitos de vida, relatando indisposição. Começou com um peso inicial de 134kg. Com o acompanhamento contínuo, houve um aumento na massa magra e redução da gordura corporal, atingindo 117kg.</p>
                  <h1>-17,3 kg</h1>
                  <img src="./_img/grafico1.png" style="max-height:120px;">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row alinhamentoCarrossel">
              <div class="col-md">
                <img src="./_img/feedback2.png" class="imgCarrossel d-block mw-100" style="margin-left: 5%; border-radius: 0.5cm" alt="...">
              </div>
              <div class="col-md" >
                <div class="">
                  <p>A paciente iniciou o acompanhamento com queixas de indisposição e fadiga, apresentando um peso inicial de 75kg. Após 6 meses de acompanhamento nutricional, alcançou um peso de 60kg, com melhorias significativas na disposição e aumento da massa muscular.</p>
                  <h1>-15,1 kg</h1>
                  <img src="./_img/grafico2.png" style="max-height:120px;">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row alinhamentoCarrossel">
              <div class="col-md">
                <img src="./_img/feedback3.png" class="imgCarrossel d-block mw-100" style="margin-left: 5%; border-radius: 0.5cm" alt="...">
              </div>
              <div class="col-md" >
                <div class="">
                  <p>Queixas de fadiga, baixa qualidade de vida e um percentual elevado de gordura aliado a pouca massa muscular. Com o acompanhamento focado na hipertrofia, obtivemos um ganho de 7kg de massa muscular, melhorando significativamente sua composição corporal e bem-estar.</p>
                  <h1>+7,2 kg</h1>
                  <img src="./_img/grafico3.png" style="max-height:120px;">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row alinhamentoCarrossel">
              <div class="col-md">
                <img src="./_img/feedback4.png" class="imgCarrossel d-block mw-100" style="margin-left: 5%; border-radius: 0.5cm" alt="...">
              </div>
              <div class="col-md" >
                <div class="">
                  <p>O paciente procurou o acompanhamento com o objetivo de ganhar massa muscular. Em apenas 4 meses de trabalho, alcançamos um aumento de 4,5 kg de massa muscular, evidenciando uma evolução consistente e saudável.</p>
                  <h1>+ 4,5 kg</h1>
                  <img src="./_img/grafico4.png" style="max-height:120px;">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row alinhamentoCarrossel">
              <div class="col-md">
                <img src="./_img/feedback5.png" class="imgCarrossel d-block mw-100" style="margin-left: 5%; border-radius: 0.5cm" alt="...">
              </div>
              <div class="col-md" >
                <div class="">
                  <p>A paciente chegou ao acompanhamento com um bom percentual de massa muscular de 20%, desejando aprimorar a performance muscular. Durante o processo, alcançamos uma redução no percentual de gordura para 15%, favorecendo sua performance e composição corporal.</p>
                  <h1>15% Pm</h1>
                  <img src="./_img/grafico5.png" style="max-height:120px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <section id="roteiroMudanca" style="background-color: #FFEEEE;">    

        <div class="row align-items-center">
          <!-- Coluna Esquerda com o Título -->
          <div class="col-md-6" style="padding-left: 10%;">
            <h1 class="mt-5 PrimeiraFonte fonteGigante" style="color: #590219;">
              O roteiro da <span style="color:#DABE85;">mudança.</span>
            </h1>
          </div>
          <!-- Coluna Direita com os Botões -->
          <div class="col-md-6 alinhamentoRoteiro">
            <div class="row no-wrap">
              <!-- Primeira linha com 3 botões -->
              <div class="col-md-4 mb-3 me-5">
                <button class="button-8 w-100" role="button" style="color: white">+ Confiança</button>
              </div>
              <div class="col-md-4 mb-3 me-5">
                <button class="button-8 w-100" role="button" style="color: white">+ Tempo</button>
              </div>
              <div class="col-md-4 mb-3 me-5">
                <button class="button-8 w-100" role="button" style="color: white">+ Bem-estar </button>
              </div>
            </div>
            <div class="row move-in no-wrap">
              <!-- Segunda linha com 4 botões -->
              <div class="col-md-4 mb-3 me-5">
                <button class="button-8 w-100 " role="button" style="color: white">+ Saúde</button>
              </div>
              <div class="col-md-4 mb-3 me-5">
                <button class="button-8 w-100" role="button" style="color: white">+ Satisfação</button>
              </div>
              <div class="col-md-4 mb-3 me-5">
                <button class="button-8 w-100" role="button" style="color: white">+ Disposição</button>
              </div>
              <div class="col-md-4 mb-3 me-5">
                <button class="button-8 w-100 " role="button" style="color: white">+ Equilíbrio</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Coluna Esquerda com o Título -->
          <div class="col-md-8 paddingEnd" style="padding-left: 5%;">
            <p class="d-flex pb-3 fonteTexto paddingEnd"><img src="./_img/01.png" alt="foto" style="max-height:50px; padding-right: 28px; ">Você entra em contato, conversamos sobre suas necessidades e objetivos e definimos o plano mais adequado para começar sua jornada.</p>
            <p class="d-flex pb-3 fonteTexto paddingNumeros"><img src="./_img/02.png" alt="foto" style="max-height:50px; padding-right: 20px;">Na sua primeira consulta, criamos um plano totalmente personalizado e traçamos um caminho claro para alcançar suas metas.</p>
            <p class="d-flex pb-3 fonteTexto paddingEnd"><img src="./_img/03.png" alt="foto" style="max-height:50px; padding-right: 20px;">Garantimos suporte contínuo e estamos sempre disponíveis para ajustar o que for necessário e acompanhar sua evolução.</p>
            <p class="d-flex pb-3 fonteTexto paddingNumeros"><img src="./_img/04.png" alt="foto" style="max-height:50px; padding-right: 20px;">Juntos, celebramos cada conquista, porque o seu sucesso é a nossa maior motivação!</p>
          </div>
          <!-- Coluna Direita com os Botões -->
          <div class="col-md-4 mb-3">
              <img src="./_img/prato (1).png" id="prato1" alt="foto" style="height: auto; z-index: 2; position: relative;">
              <div id="prato" style="text-align: right; margin-top: -30px; position: relative; z-index: 1;">
                <a id="whatsapp-link" href="https://wa.me/<%= whatsappNumber %>">
                  <button class="button-5" role="button">
                    Agendar consulta
                    <img src="./_img/whatsbranco.png" alt="" id="xxx" style="height: 23px; padding-left: 10px;">
                  </button>
                </a>
              </div>
              <div id="botaoCelular" style="text-align: right; margin-top: -30px; position: relative; z-index: 1;">
                <a id="whatsapp-link" href="https://wa.me/<%= whatsappNumber %>">
                  <button class="button-5" role="button">
                    <img src="./_img/whatsbranco.png" alt="" id="xxx" style="height: 23px;">
                  </button>
                </a>
              </div>
          </div>
        </div>
  </section>
<!-- Primeira linha quem somos nos -->
  <div class="" style="background-image: url(./_img/background.png); background-size: cover;" id="sobre">
    <div class="row alinhamentoQuem" >
      <section class="col-md-5 pt-5">
        <div id="imagemQuem">
          <img src="./_img/Natália 2.png" alt="foto" style="height: 100%;">
        </div>
      </section>
      <section class="col-md-5" >
        <div >
          <div class="row align-items-start">
            <div class="col-md-12 pb-5" style="padding-right: 5vh;">
              <h1 class="pt-5 PrimeiraFonte fonteGigante" style="color: #590219"> Quem<br> somos nós?</h1>
              <p class="pb-5 fonteQuem">Nossa missão é simplificar sua rotina e alimentação, tornando suas metas realidade. Oferecemos estratégias inteligentes com uma equipe qualificada e comprometida.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="col-md-1" style="display: flex; justify-content: center;">
        <div class="">
          <img src="./_img/prato.png" id="prato" alt="foto" style="width: 100%; max-width:500px; height: auto; position: absolute; right: -15%;">
        </div>
      </section>
    </div>

    <!-- Segunda linha quem somos nos -->

    <div class="row alinhamentoQuem pt-5">
      <section class="col-md-2" style="display: flex; justify-content: center;">
        <div class="">
          <img src="./_img/prato (2).png" id="prato" alt="foto" style="width: 100%; max-width:300px; height: auto; position: absolute; left: -10%; padding-top: 5%;">
        </div>
      </section>
   
      <section id="" class="col-md-5 pt-3">
          <div id="" class="row align-items-start ">
            <div class="col-md-12 pt-5">
              <h1 class="PrimeiraFonte fonteGigante" style="line-height: 80px; color: #590219"> O local</h1>
              <p class="fonteQuem">Nosso espaço combina conforto, praticidade e modernidade. Com equipamentos avançados e uma estrutura acolhedora, garantimos uma experiência positiva e inspiradora.</p>
              <a href="#mapa" onclick="mostrarMapa(event)" style="text-decoration: none">
                <p class="fonteQuem">
                  <img src="./_img/localizacao.png" alt="foto" style="max-width:50px;">
                  Confira nossa localização
                </p>
              </a>
            </div>
          </div>
      </section>
      <section class="col-md-5 mb-5 pt-3">
        <div id="imagemQuem">
          <img src="./_img/Local.png" alt="foto" style="height: 100%; max-height: 450px;">
        </div>
      </section>
    </div>
  </div>

<!-- Vantagens -->
  <section class="pb-5" style="background-color:#FFEEEE" id="vantagens">    
    <img src="./_img/academia.png" id="anilhas" alt="foto" style="width: 100%; max-width:300px; height: auto; position: absolute; left: -10%; margin-top: -5%;">
    <h1 class="PrimeiraFonte text-center fonteGigante" style="line-height: 80px; color: #590219; padding-top: 10vh;">Vantagens</h1>
    <div class="row d-flex justify-content-center ">
      <div class="col-6 card vantagensCard" id="larguraCards">
        <div class="card-body"> 
          <img src="./_img/celular.png" alt="foto" id="celular">
          <h5 class="text-white cardTitulo">App Exclusivo </h5>
          <p class="text-white cardTexto">Ferramentas digitais para facilitar sua jornada e impulsionar seus resultados.</p>
        </div>
      </div>
      <div class="col-6 card vantagensCard" id="larguraCards2">
        <div class="card-body">
          <img src="./_img/panela.png" alt="foto" id="panela">
          <h5 class="card-text text-white cardTitulo">Plano nutricional</h5>
          <p class="card-text text-white cardTexto">Dieta estratégica e personalizada para otimizar seu processo e alcançar seus objetivos.</p>
        </div>
      </div>
      <div class="col-6 card vantagensCard" id="larguraCards2">
        <div class="card-body">
          <img src="./_img/suporte.png" alt="foto" id="suporte">
          <h5 class="card-text text-white cardTitulo">Suporte Contínuo</h5>
          <p class="card-text text-white cardTexto">Acompanhamento próximo e especializado com ajustes precisos e motivação constante.</p>
        </div>
      </div>
      <div class="col-6 card vantagensCard" id="larguraCards">
        <div class="card-body">
          <img src="./_img/anilha.png" alt="foto" id="suporte">
          <h5 class="card-text text-white cardTitulo" >Resultados reais!</h5>
          <p class="card-text text-white cardTexto">Evolução mensurável e sustentável, baseada em dados e adaptação inteligente à sua rotina.</p>
        </div>
      </div>
    </div>
    <img src="./_img/prancheta.png" id="anilhas" alt="foto" style="width: 100%; max-width:200px; height: auto; position: absolute; right: -5%; margin-top: -15%;">
  </section>

   
  <div style="background-image: url(./_img/background.png); background-size: cover;">
    <section id="plano">
      <div style="padding-right: 5vh;">
        <h1 class="pt-5 PrimeiraFonte text-center fonteGigante" style="color: #590219;">
          Escolha o seu <span style="color:#DABE85;">plano</span>
        </h1>
      </div>
      <div class="row gx-4 gy-4">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="d-flex justify-content-center w-100">
            <div class="card mb-3 mt-5 d-flex flex-column h-100" style="max-width: 24rem; background-image: linear-gradient(#F1E7D6, #E8D6B2); color: #590219; border: none; box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);">
              <div class="card-body d-flex flex-column pe-5">
                <h5 class="card-text text-center" style="font-size: 32px;">On-line</h5>
                <ul class="" style="font-size: 20px; text-align: left;">
                  <li>Consultas on-line em média a cada 25 dias</li>
                  <li>Suporte contínuo e prioritário</li>
                  <li>Acompanhamento de evolução através de fotos e medidas</li>
                  <li>Materiais exclusivos</li>
                  <li>Experiência digital completa através do nosso aplicativo</li>
                </ul>
              </div>
              <div class="text-center pb-3 mt-auto">
                <a href="https://wa.me/<%= whatsappNumber %>">
                  <button class="button-5" role="button" style="background-image: linear-gradient(to left, #E8D6B2, #DABE85); width: 80%;">Assine já</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="d-flex justify-content-center w-100">
            <div class="card mb-3 mt-5 d-flex flex-column h-100" style="max-width: 24rem; background-image: linear-gradient(#E8D6B2, #DABE85); color: #590219; border: none; box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);">
              <div class="card-body d-flex flex-column pe-5">
                <h5 class="card-text text-center" style="font-size: 32px;">Presencial</h5>
                <ul class="" style="font-size: 20px; text-align: left;">
                  <li>Perimetria completa (dobras e circunferências antropométricas + bioimpedância)</li>
                  <li>Consultas on-line em média a cada 25 dias</li>
                  <li>Suporte contínuo e prioritário</li>
                  <li>Acompanhamento de evolução através de fotos e medidas</li>
                  <li>Materiais exclusivos</li>
                  <li>Experiência digital completa através do nosso aplicativo</li>
                </ul>
              </div>
              <div class="text-center pb-3 mt-auto">
                <a href="https://wa.me/<%= whatsappNumber %>">
                  <button class="button-5" role="button" style="width: 80%;">Assine já</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="mt-5 text-center pt-5" style="font-size: 24px; color: #590219; font-weight: 200" >
        <p class="pt-2">Confira nossas outras opções de planos através do WhatsApp</p>
      </div>

      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class=" text-center pt-5" style="font-size: 24px; color: #590219; font-weight: 200; ">
              <img src="./_img/nataliacamposLogo.png" alt="foto" style="width: 100%; max-width:180px; height: auto;">
              <p class="" >"Sua saúde bem acompanhada"</p>
            </div>
          </div>
          <div class="carousel-item"  id="mapa" >
            <div class="d-flex justify-content-center align-items-center" style="height: 90%;">
              <gmp-map
                center="-3.7419567456677076, -38.499893822091394"
                zoom="18"
                map-id="DEMO_MAP_ID"
                style="max-height: 400px; max-width: 400px; width: 100%; height: 100%;"
              ></gmp-map>
            </div>
            <p class="d-flex justify-content-center align-items-center" >Edf Humberto Santana Business, sala 1301 - R. Vicente Linhares, nr 521 - Aldeota, Fortaleza - CE, 60135-270</p>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <section style="background-color:rgb(150, 147, 147)">    
      <div class="" >
        <div class="row align-items-start">
          <div class="text-center">
            <p class="pt-2 fw-semibold">© 2024 GeraSites - Web Design. Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script>
    const tooltips = document.querySelectorAll('.tt')
    tooltips.forEach(t => {
      new bootstrap.Tooltip(t)
    })
  </script>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&loading=async&libraries=maps&v=beta" defer>
  </script>

  <script>
    function mostrarMapa(event) {
      event.preventDefault(); // Impede o comportamento padrão do link

      // Ativa o slide do mapa no carrossel
      var carousel = new bootstrap.Carousel(document.querySelector('#carouselExampleIndicators'));
      carousel.to(1); // Muda para o slide com índice 1 (o do mapa)

      // Aguarda um tempo para a transição do carrossel e então faz o scroll
      setTimeout(() => {
        document.getElementById('mapa').scrollIntoView({ behavior: 'smooth' });
      }, 500); // Tempo ajustado para garantir que o slide foi ativado
    }
  </script>


</body>
</html>